label{

	background: white;
	font-style: oblique;
	font-size: 20pt;
	display: block;
	text-align: center;
	line-height: 150%;
	font-style: bold;
}


.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.form {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F0EDEC; 
}

.form input {
  width: 90%;
  height: 30px;
  margin: 0.5rem;
  size: 30px;
  font-size: 16px;
  font-style: italic;
}

.form button {
  padding: 0.5em 1em;
  background: rgb(100, 200, 255);
  cursor: pointer;
  border: 10px solid #4CAF50;
}

.div {
border-style: blue;

}